@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 1440px) {
  body {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
  }
}

.card__completed.hidden,
form.hidden,
.hidden {
  display: none;
}

.attribution {
  margin-top: 100px;
}

header {
  width: 100%;
  height: 60vw;
  max-height: 34vh;
  background: url(../../images/bg-main-mobile.png) center center/cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  header {
    height: 100vh;
    width: 30%;
    max-height: 100vh;
    max-width: 450px;
    background: url(../../images/bg-main-desktop.png) center center/cover no-repeat;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: hsl(278deg, 68%, 11%);
}

a {
  text-decoration: none;
}

header {
  color: white;
}

.card__infos {
  font-size: 15px;
}
.card__completed > img {
  width: 25%;
  margin-top: 1em;
}
.card__completed > h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.card__completed > p {
  color: hsl(279deg, 6%, 55%);
}

p[class*=js-error] {
  color: hsl(0deg, 100%, 66%) !important;
  text-transform: none;
  font-size: 0.7rem;
}

.card__button--submit {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 4em;
  border-radius: 5px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(278deg, 68%, 11%);
  margin-top: 5%;
}
.card__button--continue {
  height: 4em;
  width: 90%;
  border-radius: 5px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(278deg, 68%, 11%);
}
@media screen and (min-width: 1440px) {
  .card__button--continue {
    width: 100%;
  }
}

input {
  height: 3em;
  border-radius: 5px;
  border: 1px solid hsl(270deg, 3%, 87%);
  padding-left: 4%;
  color: hsl(278deg, 68%, 11%);
}
input::placeholder {
  color: hsl(270deg, 3%, 87%);
}
input:hover, input:active, input:focus {
  border: 1px solid hsl(278deg, 68%, 11%);
  cursor: pointer;
}
input:focus-visible {
  outline-style: none;
}
input:not(:placeholder-shown) {
  border: 1px solid hsl(0deg, 100%, 66%);
}
input:valid {
  border: 1px solid hsl(270deg, 3%, 87%);
}
input:valid:focus {
  border: 1px solid hsl(278deg, 68%, 11%);
}

.card__form--name {
  width: 100%;
}
.card__form--number {
  width: 100%;
}
.card__form--month {
  width: 48%;
}
.card__form--year {
  width: 48%;
}
.card__form--cvv {
  width: 100%;
}

.container {
  margin-top: 10vh;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .container {
    width: 30%;
    margin-top: 0;
    margin-left: 30%;
  }
}

.cards__container {
  position: relative;
  width: clamp(300px, 80vw, 600px);
  aspect-ratio: math, div(447, 245);
  height: 100%;
  top: 2rem;
}
@media screen and (min-width: 1440px) {
  .cards__container {
    height: 50%;
    top: 25%;
  }
}

.card__front {
  position: absolute;
  width: 85%;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 1440px) {
  .card__front {
    top: 0%;
    left: 25%;
  }
}
.card__back {
  position: absolute;
  width: 85%;
  right: 0;
  top: 0;
}
@media screen and (min-width: 1440px) {
  .card__back {
    top: 45%;
    left: 40%;
  }
}
.card__img--back {
  width: 100%;
}
.card__img--front {
  width: 100%;
}
.card__img--logo {
  width: 50px;
  position: absolute;
  top: 15%;
  left: 8%;
}
@media screen and (min-width: 1440px) {
  .card__img--logo {
    top: 3%;
    width: 100px;
  }
}
.card__img--completed {
  width: 100px;
}
.card__cvv {
  position: absolute;
  top: 42%;
  right: 15%;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .card__cvv {
    font-size: 1.2rem;
    top: 44%;
  }
}
.card__number {
  position: absolute;
  bottom: 35%;
  left: 20%;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .card__number {
    top: 24%;
    left: 10%;
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
  }
}
.card__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 70%;
  bottom: 10%;
  left: 14%;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .card__infos {
    top: -15%;
    font-size: 1.3rem;
    width: 90%;
    left: 5%;
    font-size: 0.95em;
    letter-spacing: 0.1rem;
  }
}
.card__date {
  display: flex;
  justify-content: right;
  text-transform: uppercase;
}
.card__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 5%;
  row-gap: 5%;
  column-gap: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.card__grid--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
}
.card__grid--2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
}
.card__grid--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
.card__grid--4 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 5;
}
.card__completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5%, 0;
  width: 100vw;
}
@media screen and (min-width: 1440px) {
  .card__completed {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
