@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    height: 100vh;
  }
}

.card__completed.hidden,
form.hidden,
.hidden {
  display: none;
}

.attribution {
  margin-top: 100px;
}

header {
  width: 100%;
  min-height: 220px;
  background: url(../../images/bg-main-mobile.png) center center/cover no-repeat;
  position: relative;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: hsl(278deg, 68%, 11%);
}

a {
  text-decoration: none;
}

header {
  color: white;
}

.card__infos {
  font-size: 15px;
}
.card__completed > img {
  width: 25%;
  margin-top: 1em;
}
.card__completed > h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.card__completed > p {
  color: hsl(279deg, 6%, 55%);
}

.card__button--submit {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 4em;
  border-radius: 5px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(278deg, 68%, 11%);
  margin-top: 5%;
}
.card__button--continue {
  height: 4em;
  width: 90%;
  border-radius: 5px;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(278deg, 68%, 11%);
}

input {
  height: 3em;
  border-radius: 5px;
  border: 1px solid hsl(270deg, 3%, 87%);
  padding-left: 4%;
  color: hsl(278deg, 68%, 11%);
}
input::placeholder {
  color: hsl(270deg, 3%, 87%);
}

.card__form--name {
  width: 100%;
}
.card__form--number {
  width: 100%;
}
.card__form--month {
  width: 48%;
}
.card__form--year {
  width: 48%;
}
.card__form--cvv {
  width: 100%;
}

.cards__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
}

.container {
  margin-top: 10vh;
  width: 100%;
}

.card__front {
  position: relative;
  transform: translateX(10%);
  height: 100%;
  width: 270px;
}
.card__back {
  position: relative;
  transform: translate(30%, 23%);
  height: 100%;
  width: 270px;
}
.card__img--back {
  width: 270px;
  position: absolute;
}
.card__img--front {
  width: 270px;
  position: absolute;
}
.card__img--logo {
  width: 50px;
  position: absolute;
  top: 15%;
  left: 8%;
}
.card__img--completed {
  width: 100px;
}
.card__cvv {
  position: absolute;
  top: 55%;
  right: 15%;
}
.card__number {
  position: absolute;
  bottom: 15%;
  left: 15%;
}
.card__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 70%;
  bottom: -15%;
  left: 14%;
}
.card__date {
  display: flex;
  justify-content: right;
}
.card__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 5%;
  row-gap: 5%;
  column-gap: 0;
}
.card__grid--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
}
.card__grid--2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
}
.card__grid--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}
.card__grid--4 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 5;
}
.card__completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5%, 0;
  width: 100vw;
}

/*# sourceMappingURL=style.css.map */
