.card {
  &__front {
    position: absolute;
    width: 85%;
    bottom: 0;
    left: 0;
    @include media-min("desktop") {
      top: 0%;
      left: 25%;
    }
  }
  &__back {
    position: absolute;
    width: 85%;
    right: 0;
    top: 0;
    @include media-min("desktop") {
      top: 45%;
      left: 40%;
    }
  }
  &__img {
    &--back {
      width: 100%;
    }
    &--front {
      width: 100%;
    }
    &--logo {
      width: 50px;
      position: absolute;
      top: 15%;
      left: 8%;
      @include media-min("desktop") {
        top: 3%;
        width: 100px;
      }
    }
    &--completed {
      width: 100px;
    }
  }
  &__cvv {
    position: absolute;
    top: 42%;
    right: 15%;
    text-transform: uppercase;
    @include media-min("desktop") {
      font-size: 1.2rem;
      top: 44%;
    }
  }
  &__number {
    position: absolute;
    bottom: 35%;
    left: 20%;
    text-transform: uppercase;
    @include media-min("desktop") {
      top: 24%;
      left: 10%;
      letter-spacing: .2rem;
      font-size: 1.8rem;
    }
  }
  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 70%;
    bottom: 10%;
    left: 14%;
    text-transform: uppercase;
    @include media-min("desktop") {
      top: -15%;
      font-size: 1.3rem;
      width: 90%;
      left: 5%;
      font-size: .95em;
      letter-spacing: .1rem;
    }
  }
  &__date {
    display: flex;
    justify-content: right;
    text-transform: uppercase;
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 5%;
    row-gap: 5%;
    column-gap: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  &__grid {
    &--1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    &--2 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    &--3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
    }
    &--4 {
      grid-column-start: 3;
      grid-row-start: 3;
      grid-column-end: 5;
    }
  }
  &__completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 5%, 0;
    width: 100vw;
    @include media-min("desktop") {
      width: 100%;
    }
  }
}