.cards__container {
  background: url(../../images/bg-main-mobile.png) center center / cover no-repeat;
  min-height: 30vh;
  position: relative;
  @include media-min("desktop") {
   width: 20vw;
   height: 100vh;
   display: flex;
   flex-direction: column;   
  }
}

.container {
margin-top: 10vh;
@include media-min("desktop") {
  margin-top: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;     
}
}