*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    // @include media-min("desktop") {
    //     flex-direction: row;
    //     height: 100vh;
    //   } 
}


.card__completed.hidden,
form.hidden,
.hidden {
    display: none;
}

.attribution {
    margin-top: 100px;
}

header {
    width: 100%;
    height: 60vw;
    max-height: 34vh;
    background: url(../../images/bg-main-mobile.png) center center / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}