body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: $very-dark-violet;
}

a {
  text-decoration: none;
}

header {
  color: white;
}

.card {
  &__infos {
    font-size: 15px;
  }
  &__completed {
    & > img {
      width: 25%;
      margin-top: 1em;
    }
    & > h1 {
      text-transform: uppercase;
      letter-spacing: .1em;
    }
    & > p {
      color: $dark-grayish-violet;
    }
  } 
}

p[class*='js-error'] {
  color: $input-error !important;
  text-transform: none;
  font-size: .7rem;
}