$border-activ : hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$input-error : hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$breakpoints: (
  "phone": 500px,
  "tablet": 768px,
  "desktop": 1024px
);

@mixin media-min($_key) {
  @media screen and (min-width: map-get($breakpoints, $_key)) {
    &{ @content; }
  }
}
